.flexOrder {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
  /* justify-content: space-between; */
  justify-content: center;
  grid-gap: 3.7rem;
  padding: 1vh;
  height: auto;
  padding-left: 16vh;
  padding-right: 16vh;
}

.pokeCard {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 10%;
  box-shadow: 0 0 30px #619bb3;
}

.pokeCard img {
  width: 70%;
  height: auto;
  border-color: #000000;
}

.pokeCard h3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #000000;
  height: 20vh;
}
