.containerButtons {
  display: flex;
  position: relative;

  padding: 1vh;
  padding-left: 16vh;
  padding-right: 16vh;
}

.flexOrder {
  display: grid;
  position: relative;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  justify-content: center;
  grid-gap: 3rem;
  padding: 1vh;
  margin: 3rem 0;
  height: auto;
  padding-left: 16vh;
  padding-right: 16vh;
}

.pokeCard {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: auto;
  min-height: auto;
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 10%;
  box-shadow: 0 0 30px #619bb3;
}

.pokeCard img {
  min-width: auto;
  width: 70%;
  height: auto;
  border-color: #000000;
}

.pokeCard h3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #000000;
  /* height: 20vh; */
}

.btn-favorite {
  background-image: url("../images/heart.png");
  width: 18% !important;
  height: auto;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.btn-favorite:checked {
  background-color: #000000;
}
